.navbar-nav .nav-link {
    color: white !important;       
}

.navbar-nav .nav-link:hover {
    color: #f8b400 !important;     
}
.navbar-nav .nav-link.active {
    color: #ffffff !important;     
    font-weight: bold;             
}
.navbar-nav .nav-item {
    margin-left: 50px; 
}
